<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diwixis.blacknote">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_black_note"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity
            android:name=".presentations.todoList.ListActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentations.todoListItem.ListItemActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="Edit note">
        </activity>
    </application>

</manifest>